:root {
  --slidev-theme-primary: #ffffff;
  --slidev-theme-background: #021824;
  --slidev-theme-background-via: #043353;
  --slidev-theme-background-lightened: #0c5780;
}

.slidev-page {
  background: radial-gradient(
    circle at 50% 0%,
    var(--slidev-theme-background-lightened) 0%,
    var(--slidev-theme-background-via) 50%,
    var(--slidev-theme-background) 90%
  );
  @apply border border-solid var(--slidev-theme-primary);
}

.slidev-layout {
  color: var(--slidev-theme-primary);
  @apply text-md leading-6;

  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-l;
  }

  h4 {
    @apply text-md;
  }

  p,
  ul {
    @apply mt-2 mb-6;
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-4xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }
}
